body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("beautiful.jpeg"); 
    background-size: 1550px 650px;
    color: white;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

.hint-button, .next-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.hint-button:hover, .next-button:hover {
    background-color: #45a049;
}

.home-button {
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #3d8f42;
}

